incremental==16.10.1 
ruamel.yaml 
PyYAML==4.2b4 
pykwalify[ruamel] 
gevent==1.4.0 
klein==17.10.0 
hyperlink==17.3.1 
typing==3.6.6 
future==0.17.1 
six==1.11.0
jsonschema==2.6.0
matplotlib==2.1.0 
requests==2.21.0 
tqdm==4.29.1 
numpy==1.16.0 
simplejson==3.13.2 
cloudpickle==0.6.1 
packaging==18 
coloredlogs==10 
scikit-learn==0.20.2 
sklearn-crfsuite==0.3.6 
jsonpickle==1.0.0 
redis==2.10.6 
fakeredis==0.10.3 
scipy==1.2.0 
scipy==1.2.0 
tensorflow==1.12.0 
apscheduler==3.5.3 
networkx==2.2 
flask==1.0.2 
flask_cors==3.0.7 
rasa_nlu==0.14.0 
mattermostwrapper==2.1 
colorhash==1.0.2 
pika==0.12.0 
pytz==2018.9 
rasa_core_sdk==0.12.1 
pymongo==3.7.2 
python-dateutil==2.7.5 
colorclass==2.2.0 
terminaltables==3.1.0 
questionary==1.0.1 
flask-jwt-simple==0.0.3 
python-socketio==3.1.1 
pydot==1.4.1 
keras-applications==1.0.6 
keras-preprocessing==1.0.5